.MobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    padding: 24px;
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: var(--white)
    
}

.MobileMenu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.MobileMenu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.MobileMenu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.MobileMenu ul li {
    margin-bottom: 24px;
}

.MobileMenu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.MobileMenu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

/* .MobileMenu ul:nth-child(3) {
    display: flex;
    
} */